ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

 body{
     background-color: black;
     color: rgb(0,255,128);
     font-family: Serif;
     overflow-x: hidden;
 }
 .main{
 position: relative;
 z-index: 2;
 max-width: 800px;
 margin: auto;
 padding: 20px;
 text-align: center;
 }
 
 .floating-img{
  position: fixed;
  top: 30%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 0;
 }
 .img2{
  position: fixed;
  top: 75%;
  right: 5%;
  z-index: 0;
 }
 .img3{
  position: fixed;
  top: 30%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 0;
 }
 .img4{
  position: fixed;
  top: 65%;
  left: 70%;
  transform: translateX(-50%);
  z-index: 0;
 }
 .img5{
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
 }
 .footer{
   position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
 }
 img {
  width: 200px;
  max-width: 20vw;
  height: auto;
 }
 @media (max-width: 900px) {
  img {
    max-width: 30vw;
  }
 }
 
 .main2 {
  text-align: center;
 }
 .gimg2 {
 position: fixed;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 0;
 }
 .gimg3 {
position: fixed;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 0;
 }
 .gimg4 {
position: fixed;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 0;
 }

 