ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

 body{
     background-color: black;
     color: rgb(0,255,128);
     font-family: Serif;
 }
 .main{
  text-align: center;
  width: 300px;
  border-radius: 10px;
  padding: 40px
 }
 
 .floating-img{
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 999;
 }
 .img2{
  position: fixed;
  top: 20%;
  right: 20px;
  transform: translateY(-10%);
  z-index: 999;
 }
 .img3{
  position: fixed;
  top: 40%;
  left: 70%;
  transform: translateY(-50%, -50%);
  z-index: 999;
 }
 .img4{
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateY(-50%, -50%)
 }
 .img5{
  position: fixed;
  top: 40%;
  left: 30%;
  transform: translateY(-50%, -50%)

 }
 .footer{
   position: fixed;
  bottom: 0%;
  left: 0%;

 }
